body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

html,
body {
    height: 100%;
}

.bg-purple {
    background: rgb(48, 0, 50);
}

.bg-gray {
    background: rgb(74, 74, 74);
}

.bg-blue {
    background: rgb(50, 101, 196);
}

.bg-red {
    background: rgb(196, 50, 53);
}

.nav-side {
    height: 100vh;
    width: 20vh;
    background-color: azure;
}